.Logo {
  margin: 0 5% 0 5%;
  width: 20%;
  font-size: 1.8em;
  color: -webkit-linear-gradient(green, red);
}

.Logo span {
  color: #dfb242;
}

@media (max-width: 640px) {
  .Logo {
    width: 100%;
    text-align: center;
    margin: 5% 5% 5% 5%;
  }
}
