.Active {
  padding-bottom: 5px;
  border-bottom: 4px solid #daa520;
}

.MenuItem {
  display: inline-block;
  margin: 20px;
}

.MenuItem a {
  text-decoration: none;
  color: black;
}

.MenuItem a:hover {
  color: #dfb242;
}

@media (max-width: 640px) {
  .MenuItem {
    display: inline-block;
    width: 50%;
    margin: 0;
    border: 1px solid #f7e5b9;
    box-sizing: border-box;
    height: 100%;
    padding-top: 10px;
  }

  .MenuItem a {
    color: white;
  }
}
